@model OnlineShopping.Models.CategoryDetail
@{
    ViewBag.Title = "CategoryDetail";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="rightpart">
    <div class="sechBx clearfix">
        <div class="bretcrum"><a href="#">Dashboard</a>&nbsp; » <span>Form</span></div>
    </div>
    <div class="dashBx">
        @using (Html.BeginForm("UpdateCategory", "Admin", FormMethod.Post, new {enctype="multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="dashboardHD">
                @(Request.Url.ToString().ToLower().Contains("addcategory") ? "Add Category" : "Update Category")
            </div>
            <div class="dashformBx  dashformBx2 clearfix">
                @Html.HiddenFor(m => m.CategoryId)
                <div class="dashfrm-L">
                    <label class="lblTxt">Category Name*</label>
                    @Html.TextBoxFor(m => m.CategoryName, new { @class = "dashInp", @onkeypress = "return OnlyLegalCharacters();" })
                    @Html.ValidationMessageFor(m => m.CategoryName)
                </div>            
                <div class="clearfix"></div>
                <div class="dashfrm-L submitBtns">
                    <a onclick="window.history.back();" class="editBtn cancelBtn" style="width: 48%;">Cancel</a>
                     <input type="submit" value="Submit" onclick="return CheckValidInput(this);" class="editBtn" style="width: 48%;" />
                   
                </div>
            </div>
        }
    </div>
</div>